.top_wrap{
    width: 100%;
    background: white;
    .top_items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 30px;
        height: 65px;
        .logo{
            
        }
        .nav{
            .nav_wrap{
                display: flex;
                justify-content: space-between;
                width: 265px;
                @media screen and (max-width: 550px) {
                    width: 180px;
                }
                li{
                    margin-right: 10px;
                    a{

                    }
                    a:hover{
                        color: gray;
                    }
                }
                li:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}